html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #333;
	font-family: 'jetbrains mono';
	width: 100%;
	height: 100%;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.line-header {
	background-color: black;
	width: 100%;
	height: 100%;
}

.line-header p {
	font-size: 36px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 75px;
	transition: transform 0.3s, color 0.3s;
	cursor: default;
}

.line-header span {
	color: royalblue;
	transition: color 0.8s;
}

.line-header p:hover {
	transform: scale(1.3);
	color: royalblue;
}

.line-header span:hover {
	color: tomato;
}

nav {
	position: sticky;
	top: 0;
	height: 60px;
	line-height: 60px;
	background-color: #000000;
	text-align: center;
	z-index: 10;
}

a {
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	color: #000000;
	transition: color 0.3s;
}

a:hover {
	color: royalblue;
}

.burger-icon {
	position: absolute;
	display: block;
	margin-left: auto;
	padding: 0 30px;
	line-height: 60px;
	font-size: 30px;
	background: none;
	border: none;
	cursor: pointer;
	color: #333;
	transition: color 0.3s;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.burger-icon:hover {
	color: royalblue;
}

.nav-items {
	display: none;
}

.section-title {
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
}

section {
	scroll-margin-top: 60px;
}

.contact {
	text-align: center;
	line-height: 35px;
}

.contact h3 {
	text-transform: uppercase;
	margin: 20px 0 5px;
}

.line {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%);
	height: 2px;
	width: 60%;
	background-color: #000000;
}

.icon {
	color: royalblue;
}

main {
	margin: 60px 30px;
}

main a {
	color: #fff;
	font-size: 24px;
}

.questions {
	background-color: royalblue;
}

.questions-info {
	margin-bottom: 10px;
	padding: 0 20px;
	text-align: start;
	font-size: 20px;
}

.hero-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	transition: 1s;
	border-radius: 25px;
}

.hero-text {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero-text h1 {
	margin-bottom: 5px;
	text-shadow: 3px 3px 5px #333;
	color: #ddd;
}

.hero-text span {
	text-transform: uppercase;
	color: #09f;
}

.products {
	margin: 60px auto;
}

.product {
	position: relative;
	height: 300px;
	background-size: cover;
	background-position: center;
	text-align: center;
	border-radius: 25px;
	background: none;
}

.product:hover h3 {
	transform: scale(1.6);
	color: royalblue;
}

.product h3 {
	text-transform: uppercase;
	transition: all 0.3s;
}

.first-product {
	background-color: #000000;
}

.second-product {
	background-color: #000000;
}

.third-product {
	background-color: #000000;
}

.fourth-product {
	background-color: #000000;
}

.fifth-product {
	background-color: #000000;
}

.sixth-product {
	background-color: #000000;
}

.seventh-product {
	background-color: #000000;
}

.eighth-product {
	background-color: #000000;
}

.ninth-product {
	background-color: #000000;
}

.tenth-product {
	background-color: #000000;
}

.eleventh-product {
	background-color: #000000;
}

.twelfth-product {
	background-color: #000000;
}

.footer {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	margin-top: 25px;
}

@media (max-width: 576px) {
	.line-header p {
		font-size: 24px;
	}
}

@media (min-width: 768px) {
	.burger-icon {
		display: none;
		color: aqua;
	}

	.nav-items {
		display: block;
	}

	.nav-items a {
		padding: 0 30px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		color: #333;
		transition: color 0.3s;
		letter-spacing: 2px;
	}

	.nav-items a:hover {
		color: royalblue;
	}

	.hero-text h1 {
		font-size: 36px;
	}

	.hero-text p {
		font-size: 18px;
	}

	.hero-text h3 {
		font-size: 24px;
	}
}

@media (min-width: 992px) {
	.products-box {
		font-size: 0;
	}

	.product {
		display: inline-block;
		width: 50%;
	}
}

@media (min-width: 1200px) {
	.hero-text h1 {
		font-size: 42px;
	}

	.hero-text p {
		font-size: 20px;
	}
}
